a {
  color: #5fae9a;
}

.tokyo_tm_all_wrap .leftpart {
  padding: 0 50px;
  width: 300px;
}
.tokyo_tm_all_wrap .rightpart {
  padding-left: 300px;
}


.tokyo_tm_home .social ul li .svg {
  height: 30px;
  width: 30px;
}
.tokyo_tm_home .social ul li .svg:last-child{
  height: 40px;
  width: 40px;
}

.close a {
  display: inline-block;
  width: 50px;
}

@media (max-width: 1200px) {
  .tokyo_tm_about,
  .tokyo_tm_news {
    padding-top: 100px;
  }
}

/* Cases */

.tokyo_tm_about .description_inner {
  display: block;
}

.tokyo_tm_modalbox_news .main_content {
  display: flex;
}
.tokyo_tm_modalbox_news .main_content .video {
  margin-right: 50px;
}

@media (max-width:  700px) {
  .tokyo_tm_modalbox_news .main_content {
    display: block;
  }
  .tokyo_tm_modalbox_news .main_content .video {
    margin: 0 auto 40px;
    text-align: center;
  }  
}

.tokyo_tm_modalbox_news .image {
  /*display: none;*/
}

.tokyo_tm_news > ul,
.tokyo_tm_news > li {
  display: flex;
  flex-wrap: wrap;
}

.list_inner {
  height: 100% !important;
  background: white;
  display: flex;
  flex-direction: column;
}

.list_inner .details {
  flex: 1;
}

.list_inner img {
  max-height: 260px;
}

.tokyo_tm_modalbox_news .description_wrap .image .main {
  background-size: contain;
}