.tokyo_tm_home .social ul li .svg {
  height: 30px;
  width: 30px;
}
.tokyo_tm_home .social ul li .svg:last-child{
  height: 40px;
  width: 40px;
}

.close a {
  display: inline-block;
  width: 50px;
}

@media (max-width: 1200px) {
  .tokyo_tm_about,
  .tokyo_tm_news {
    padding-top: 100px;
  }
}